#!/bin/bash
# Example configuration file for signal-photo-mail.

MYPHONE=   # the phone number that is joined to the chat, 
GROUPID=  # The group ID, `in single quotes`
DESTMAIL= # The destination email
SMTPUSER= # The username for your SMTP server
SMTPPASS= # The password for your SMTP server
SMTPSERVER= # The URL for your SMTP server
SMTPPORT= # The port for your SMTP server
SMTPFROM= # The address to use in the "from" line of the email
DATADIR=$HOME/.local/share/signal-cli  # The directory where signal-cli's data is stored. This is the default.
